<div class="allcon">
    <br><br><br><br>
    <h1 style="font-size: 80px; color: rgb(145, 65, 1); font-style: italic;">Nuestras Sucursales</h1><br><br><br>
    <img src="assets/img/bolivia2.png">
    <br><br><br>
    <h1 style="font-size: 70px; color: rgb(197, 101, 23); font-style: italic;">Encuentre el más cercano a su casa</h1><br><br><br>
    <div align="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.0683819902306!2d-68.1141798845192!3d-16.522645045690226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad%20Cat%C3%B3lica%20Boliviana%20%22San%20Pablo%22%20Regional%20La%20Paz!5e0!3m2!1ses!2sbo!4v1581200105867!5m2!1ses!2sbo" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<footer>
       
    <div class="container-footer-all">
     
         <div class="container-body">

             <div class="colum1">
                 <h1>Mas informacion de la tienda</h1>
                 <p>Esta tienda se dedica a la venta de productos con una 
                 calidad superior, intentando siempre llegar a su hogar, con promociones y mucho mas.</p>
             </div>
             <div class="colum2">

                 <h1>Redes Sociales</h1>

                 <div class="row">
                     <img src="assets/icon/facebook.png">
                     <label>Siguenos en Facebook</label>
                 </div>
                 <div class="row">
                     <img src="assets/icon/twitter.png">
                     <label>Siguenos en Twitter</label>
                 </div>
                 <div class="row">
                     <img src="assets/icon/instagram.png">
                     <label>Siguenos en Instagram</label>
                 </div>
                 <div class="row">
                     <img src="assets/icon/google-plus.png">
                     <label>Siguenos en Google Plus</label>
                 </div>
                 <div class="row">
                     <img src="assets/icon/pinterest.png">
                     <label>Siguenos en Pinteres</label>
                 </div>
             </div>
             <div class="colum3">
                 <h1>Informacion Contactos</h1>
                 <div class="row2">
                     <img src="assets/icon/house.png">
                     <label>Av. Kantutas, Bolivia La Paz- El Alto</label>
                 </div>
                 <div class="row2">
                     <img src="assets/icon/smartphone.png">
                     <label>78951433</label>
                 </div>
                 <div class="row2">
                     <img src="assets/icon/contact.png">
                      <label>CegoStore@gmail.com</label>
                 </div>
             </div>
         </div>
     </div>       
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2020 Todos los Derechos Reservados | <a href="">webkit</a>
                 </div>
                 <div class="information">
                     <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                 </div>
             </div>

         </div>
     
 </footer>
