<br><br>
<h1 align="center" style="color: orange; font-size: 70px;">Acerca de nosotros</h1>
<br><br><br>
<div align="center" style="height: 50%; text-align: center; align-items: center;">
    <h3>Somos una linea de supermercado lider a nivel nacional, con las mejores ofertas que se pueden tener.
        Nacido en 1999 como una tienda local CegoStore se expandio rapidamente por todo el territorio boliviano
        hasta que en 2020 se posiciono como lider indiscutible frente a otros supermercados.
    </h3>
    <img src="https://s1.eestatic.com/2020/03/19/ciencia/nutricion/Alimentacion-Dieta-Obesidad-Coronavirus-Nutricion_475962417_148657032_1706x1280.jpg">
</div>
