<!DOCTYPE html>

<html lang="es">
    <head>
        <title>CegoStore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <script>
            let d = new Date();
            document.body.innerHTML = "<h1>Time right now is:  " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds()
            "</h1>"
            window.alert("sdsa");
            console.log("hola");
            </script>
        <header>
            <br><br><br>
            <h1 class="bienvenido">Bienvenido</h1>
            <br><br><br>
            <img style="margin-left: 10%; float: left; box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 1);" src="assets/img/calidad.png" class="img-circle" alt="Cinque Terre" height="200px" width="200px">
            <img style="margin-left: 10%; float: left; box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 1);" src="assets/img/preciob.png" class="img-circle" alt="Cinque Terre" height="200px" width="200px">
            <img style="margin-left: 10%; float: left; box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 1);" src="assets/img/niveln.png" class="img-circle" alt="Cinque Terre" height="200px" width="200px">
            <img style="margin-left: 10%; float: left; box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 1);" src="assets/img/tiempon.png" class="img-circle" alt="Cinque Terre" height="200px" width="200px">
            
        </header>

        <main class="main">
            
            <br style="clear: both;">
            <br><br><br><br>
            <h1 style="font-size: 40px; font-style: italic; text-align: center;"> La mejor atencion, Ofertas de locura, Cobertura nacional, Rapides de transacciones</h1>
            <br><br><br><br><br><br>
            <div style="margin-left: 15%; margin-right: 15%;"><h1>Todo esto y mucho más es lo que podra encontrar en CegoStore, con sus 7 años en el mercado CegoStore es el SuperMercado con mayor cobertura en toda Bolivia donde podras encontrar toda clase de productos</h1></div>
            <br><br><br>
            <div class="ofertaa">
                <img class="animacion" src="assets/img/ofert1.png" style="margin-top: -180px; margin-left: -5%; float: left;">
                <div class="oferdes">
                    <h1 style="font-size: 50px; color: rgb(145, 65, 1); font-style: italic;">Mira nuestras ofertas</h1>
                    <h3>En CegoStore podras encontrar las mejores ofertas del mercado nacional, cada dia tenemos una nueva oferta para ti, ven a nuestras sucursales y aprovechalos</h3>
                    <div class="oferan">
                        <h1 >IPhone 11 Pro Max</h1><br>
                        <h2 style="display: inline-block; line-height: 1px; ">Antes: <h3 style="display: inline-block; line-height: 1px;">1500$</h3></h2>
                        <h2 style="display: inline-block; line-height: 1px; padding-left: 70px;">Ahora: <h3 style="display: inline-block; line-height: 1px;" >1400$</h3></h2>
                        <h2>Caracterizticas:</h2>
                        <h2 style="display: inline-block; line-height: 1px; ">Camara: <h3 style="display: inline-block; line-height: 1px;">15mp</h3></h2><br>
                        <h2 style="display: inline-block; line-height: 1px; ">Ram: <h3 style="display: inline-block; line-height: 1px;">3gb</h3></h2><br>
                        <h2 style="display: inline-block; line-height: 1px; ">Memoria: <h3 style="display: inline-block; line-height: 1px;">64gb</h3></h2><br>
                        <h2 style="display: inline-block; line-height: 1px; ">Procesador: <h3 style="display: inline-block; line-height: 1px;">A13 bionic</h3></h2><br>
                    </div>
                </div>
            </div>
            <br style="clear: both;">
            <div class="ofertaa">
                
                <div class="coberca" style="float: left; margin-top: -30px;">
                    <br><br><br><br>
                    <h1 style="font-size: 50px; color: rgb(145, 65, 1); font-style: italic;">Nuestra Cobertura</h1><br><br><br>
                    <h3 style="font-size: 30px;">Nuestras sucursales se encuentran disponibles en todo el territorio boliviano, de esta forma intentamos estar mas cerca de usted,
                    ofreciendo nuestro servicio de entrega a domicilio, comprar un producto nunca fue tan facil</h3>
                </div>
                <img class="animaciona" src="assets/img/bolivia.png" style="width: 500px; height: 500px; margin-top: -100px; margin-left: 10%; float: left;">
                
            </div>
            <br><br><br>
            <br style="clear: both;">
            <div class="ofertaa" >
                <img class="animacionb" src="assets/img/comolidad.png" style="width: 480px; height: 480px; margin-top: -40px; margin-left: 5%; float: left;">
                <div class="oferdes" style="margin-top: 40px;" >
                    <h1 style="font-size: 50px; color: rgb(145, 65, 1); font-style: italic;">La mejor atencion</h1><br><br><br>
                    <h3 style="font-size: 30px;">En nuestras sucursales seras atendido con el mejor personal, ademas de que su tiempo no sera desperdiciado en hacer colas gracias
                    a las cajas automaticas disponibles en todas las sucursales a nivel Bolivia</h3>
                    
                </div>
            </div>
        </main>
        <footer>
       
       <div class="container-footer-all">
        
            <div class="container-body">

                <div class="colum1">
                    <h1>Mas informacion de la tienda</h1>
                    <p>Esta tienda se dedica a la venta de productos con una 
                    calidad superior, intentando siempre llegar a su hogar, con promociones y mucho mas.</p>
                </div>
                <div class="colum2">

                    <h1>Redes Sociales</h1>

                    <div class="row">
                        <img src="assets/icon/facebook.png">
                        <label>Siguenos en Facebook</label>
                    </div>
                    <div class="row">
                        <img src="assets/icon/twitter.png">
                        <label>Siguenos en Twitter</label>
                    </div>
                    <div class="row">
                        <img src="assets/icon/instagram.png">
                        <label>Siguenos en Instagram</label>
                    </div>
                    <div class="row">
                        <img src="assets/icon/google-plus.png">
                        <label>Siguenos en Google Plus</label>
                    </div>
                    <div class="row">
                        <img src="assets/icon/pinterest.png">
                        <label>Siguenos en Pinteres</label>
                    </div>
                </div>
                <div class="colum3">
                    <h1>Informacion Contactos</h1>
                    <div class="row2">
                        <img src="assets/icon/house.png">
                        <label>Av. Kantutas, Bolivia La Paz- El Alto</label>
                    </div>
                    <div class="row2">
                        <img src="assets/icon/smartphone.png">
                        <label>78951433</label>
                    </div>
                    <div class="row2">
                        <img src="assets/icon/contact.png">
                         <label>CegoStore@gmail.com</label>
                    </div>
                </div>
            </div>
        </div>       
        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2020 Todos los Derechos Reservados | <a href="">webkit</a>
                    </div>
                    <div class="information">
                        <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                    </div>
                </div>

            </div>
        
    </footer>
    </body>
</html>